<!-- ヘッダーを使う -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>NG ON FIRE CHAT!!!</span>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <Form [formGroup]="profileForm" (ngSubmit)="add()"> 
    <mat-form-field  appearance="fill">
      <mat-label>名前</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>生年月日</mat-label>
      <input matInput required [matDatepicker]="picker" formControlName="birthDay" (dateChange)="pickerInput()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>年齢</mat-label>
      <input matInput required type="number" formControlName="age">
    </mat-form-field>

    <button mat-raised-button color="primary">登録</button>
  </Form>
</div>

<div class="content">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="名前">
      <th mat-header-cell *matHeaderCellDef>名前</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="誕生日">
      <th mat-header-cell *matHeaderCellDef> 誕生日 </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay}} </td>
    </ng-container>

    <ng-container matColumnDef="年齢">
      <th mat-header-cell *matHeaderCellDef> 年齢 </th>
      <td mat-cell *matCellDef="let element"> {{element.age | age}} </td>
    </ng-container>

    <ng-container matColumnDef="ボタン">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index;"> 
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon" (click)="dialogOpen(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!-- これはあとで使うから消さないでね！ -->
<router-outlet></router-outlet>